.contact-container {
    display: flex;
  }
  
  .feedback-container {
    margin-top: 20px;
  }
  
  .feedback {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 80%;
    max-width: 1000px;
    /* margin: 0 auto; */
    padding: 20px;
    /* background-color: #f8f8f8; */
    border: 1px solid #ccc;
    /* border-radius: 5px; */
  }
  
  .feedback h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feedback div {
    margin-bottom: 10px;
  }
  
  .feedback input,
  .feedback textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .feedback button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7199ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback button:hover {
    background-color:#283b63 ;
  }
.content{
  font-family: 'Acme', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'EB Garamond', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Kalam', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'PT Serif', serif;
font-family: 'Rowdies', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Space Grotesk', sans-serif;
}
.contact {
  padding: 20px;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 500px;
  margin-bottom: 20px;
  max-width: max-content;
}

.contact-item {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;
  background-color: #7199ee;
  transition: background-color 0.3s ease;

}
.contact-item:hover {
  background-color: #283b63 ;
}

.contact-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-item p {
  margin: 0;
}

.contact-form {
  max-width: 400px;
}

.contact-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
