.footer  {
    /* background-color: var(--background); */
    /* padding: rem 0; */
    /* clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%); */
    background-color: #1A237C;
    color: #fff;
    /* position: fixed; */
    /* width: 100%; */
    /* bottom: 0; */
    /* <h1 class="animate__animated animate__bounce">An animated element</h1> */
    /* background-color:'#1e7898' */
    background: linear-gradient(to right, #6a3460,rgb(52, 24, 104));

}
/* .footer {
    background-color: #1e7898; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    z-index: 999;
    box-sizing: border-box;
  } */
  
  /* Rest of the CSS code for the footer */
  
.footer .container {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content:left;
    padding: 0;
}

.footer .col {
    display: flex;
    flex-direction:column;
}

.footer .bar {
    width: 50px;
    border-bottom: 4px solid var(--primary);
    /* margin: 1rem 0; */
}

.footer a {
    font-size: 1rem;
}

.footer .icon {
    /* color: #303030; */
    margin-right: 4px;
}

.footer h5 {
    margin-top: 2rem;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
    }

    .footer .col-1 {
        display:inline;
        font-style: italic;


    }
    .footer .primary{
       font-style:italic;
       justify-content: left;
       
    }

    @media screen and (max-width:478px) {
        .footer .container {
            grid-template-columns: 1fr;
        }
    }
}
