.image-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .text-overlay button {
    font-size: 18px;
    padding: 10px 20px;
  }
  .card-title{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color:#283b63;
  }
  .card-text{
    font-family: 'Arvo', serif;
    font-size: 20px;
  }
  .crypto-page {
    background: linear-gradient(to bottom, #182349, #522c74 95%, #342470 100%);
  }
  
  .chart-container {
    background: linear-gradient(to bottom, #1b2750, #522d73 35%, #411644 100%);
   color:white;
   font-family: 'Arvo', serif;
    padding: 50px;
  }
  
  .converter-container {
    /* background-color: #ffffff; */
    padding: 20px;
    background: linear-gradient(to bottom, #241637, #7749a3 95%, #3a1f45 100%);
  }