.recently-added-container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 20px;
    color:white;
    /* font-size: 20px; */
  }
  
  .recently-added-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Carter One', cursive;
  }
  
  .coin-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .coin-card:hover {
    transform: translateY(-5px) scale(1.05); 
  }
  
  .coin-card {
    width: 350px;
    background-color: #283b63;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .coin-name {
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    /* font-weight: bold; */
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
  }
  
  .coin-symbol,
  .coin-price,
  .coin-market-cap,
  .coin-price-change {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Exo 2', sans-serif;
  }
  
  .coin-price-change {
    color: green;
  }
  
  .coin-price-change.negative {
    color: red;
  }
  