.styles {
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding: 20px;
    color:white;
    font-size:20px;
    font-family: 'Changa', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .coin-cone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .coin-box {
    background-color: #283b63;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    width: calc(33.33% - 40px);
    max-width: 350px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(2, 59, 67, 0.994);
  }
  
  .coin-box:hover {
    transform: translateY(-5px) scale(1.05); 
  }
  
  
  .coin-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .coin-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .coin-box p {
    margin: 5px 0;
  }
  